<template lang="pug">
  .finder
    v-input(v-model="link" @enter="getUser" autofocus placeholder="Введите ссылку на профиль")
    v-button.finder__button(@click="getUser") Построить
</template>

<script>
import VButton from "../components/VButton";
import VInput from "../components/VInput";

export default {
  components: { VButton, VInput },

  computed: {
    link: {
      get() {
        return this.$store.state.link;
      },

      set(value) {
        this.$store.commit("UPDATE_LINK", value);
      }
    }
  },

  methods: {
    getUser() {
      this.$store.dispatch("getUser", error =>
        this.$parent.$parent.$refs.alert.open(error.message)
      );
    }
  }
};
</script>

<style lang="scss">
.finder {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 95;
  border-radius: 2px;

  &__button {
    position: absolute;
    margin: 4px;
    right: 0;
  }
}
</style>
