<template lang="pug">
  .navigation
    v-logo
    v-search(v-show="loaded" v-model="search")
    v-search-result(
      :data="searchResult"
      :user-id="currentUser.id"
      @select="$store.dispatch('selectUser', $event)"
    )

    v-profile(
      v-if="currentUser.id"
      :user="currentUser"
      @back="$store.dispatch('selectUser')"
      @zoom="$store.dispatch('moveTo', $event)"
      @load="$store.dispatch('loadFriends', $event)"
    )
</template>

<script>
import { mapGetters, mapState } from "vuex";

import VSearch from "../components/VSearch";
import VSearchResult from "../components/VSearchResult";
import VLogo from "../components/VLogo";
import VProfile from "../components/VProfile";

export default {
  components: {
    VSearch,
    VSearchResult,
    VLogo,
    VProfile
  },

  computed: {
    ...mapGetters(["searchResult"]),
    ...mapState(["loaded", "currentUser"]),

    search: {
      get() {
        return this.$store.state.search;
      },

      set(value) {
        this.$store.commit("UPDATE_SEARCH", value);
      }
    }
  }
};
</script>


<style lang="scss" scoped>
.navigation {
  display: block;
  white-space: nowrap;
  position: absolute;
  max-width: 420px;
  padding: 24px;
  z-index: 95;
}
</style>
