<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta lang="ru">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="style.css">
    <title>VKGRAPH - Визуализация друзей Вконтакте</title>
  </head>
  <body>
    <noscript>
      <div class="noscript">
        <p>Для работы приложения необходимо разрешить выполнение JavaScript на странице. :(</p>
      </div>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
