* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #4c75a3;
}

::placeholder {
  /* color: rgba(255, 255, 255, 0.5); */
  opacity: 1;
  font-weight: 400;
}

:-ms-input-placeholder {
  /* color: rgba(255, 255, 255, 0.5); */
  opacity: 1;
  font-weight: 400;
}

::-ms-input-placeholder {
  /* color: rgba(255, 255, 255, 0.5); */
  opacity: 1;
  font-weight: 400;
}

body {
  background: linear-gradient(to bottom, #547faf, #3f6187);
  overflow: hidden;
  min-width: 480px;
}

#app {
  height: 100vh;
  display: flex;
  font-family: sans-serif;
}

#network {
  height: 100vh;
  z-index: 50;
  position: absolute;
}

.graph-tooltip {
  background: #ffffff !important;
  border-radius: 4px !important;
  padding: 8px 16px !important;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 16px rgba(36, 36, 36, 0.16);
  z-index: 99;
}

.graph-tooltip-image {
  border-radius: 50%;
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

.graph-tooltip p {
  color: #2b425c !important;
  font-size: 14px;
}

.noscript {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noscript p {
  font-size: 18px;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.6;
  max-width: 480px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.32s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.scene-nav-info {
  display: none !important;
}

.group {
  flex: 1;
  flex-basis: 50%;
  max-width: 50%;
  padding-right: 32px;
  margin: 4px 0;
}
