<template lang="pug">
  .about
    span Разработал Юрий Селюнцев
    span ДВФУ 2018 / М8118
</template>

<style lang="scss" scoped>
.about {
  position: absolute;
  bottom: 0;
  padding: 24px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  z-index: 95;
}
</style>
