<template lang="pug">
  transition(name="fade"): .alert(v-show="show") {{ message }}
</template>

<script>
export default {
  data() {
    return {
      show: false,
      message: "",
      timer: null
    };
  },

  methods: {
    open(message) {
      this.message = message;
      this.show = true;

      clearTimeout(this.timer);

      this.timer = setTimeout(() => {
        this.show = false;
      }, 3000);
    }
  }
};
</script>

<style lang="scss" scoped>
.alert {
  display: inline-flex;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  transition: 0.32s all ease;
  padding: 8px 16px;
  border-radius: 2px;
  background: #ffffff;
  z-index: 95;
  color: #2b425c;
}
</style>
