<template lang="pug">
  .background
</template>

<style lang="scss" scoped>
.background {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    lighten(#4c75a3, 4%),
    darken(#4c75a3, 8%)
  );
}
</style>
