<template lang="pug">
  button.v-button(:class="variations" v-on="$listeners"): slot
</template>

<script>
export default {
  props: {
    types: { type: String }
  },

  computed: {
    variations() {
      return this.types ? this.types.split(" ").map(type => `--${type}`) : 0;
    }
  }
};
</script>

<style lang="scss" scoped>
.v-button {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0 48px;
  outline: none;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  background: #4c75a3;
  transition: 0.24s all ease;
  box-shadow: 0 2px 16px rgba(36, 36, 36, 0.16);

  & b {
    margin-left: 8px;

    &:before {
      content: "";
      display: inline-block;
      height: 8px;
      border-left: 1px solid rgba(36, 36, 36, 0.48);
      margin-right: 8px;
    }
  }

  &:hover {
    background: lighten(#4c75a3, 3%);
  }

  &:active {
    background: darken(#4c75a3, 3%);
  }

  /* Style variations */
  &.--small {
    height: 32px;
    width: 100%;
    font-size: 12px;
  }

  &.--locked {
    background: #363636;
  }

  &.--deactivated {
    opacity: 0.5;
    background: #dc3545;
  }

  &.--loaded {
    background: #e0e0e0;
    color: #363636;
  }
}
</style>
