<template lang="pug">
  .main(v-show="!loaded")
    .main__meta
      h1 VKGRAPH #[sup βeta]
      h3 Визуализируйте взаимосвязи ваших друзей «ВКонтакте» #[sup *]
      p  * Скорость загрузки данных зависит от загруженности серверов Вконтакте, количества друзей профиля, скорости вашего интернет-соединения.

    .main__actions: slot
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["loaded"])
  }
};
</script>

<style lang="scss" scoped>
.main {
  width: 100%;
  max-width: 1180px;
  padding: 0 24px;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__meta {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 24px;

    & h1 {
      color: #ffffff;
      font-weight: 400;
      font-size: 64px;
      display: flex;

      & sup {
        font-size: 24px;
        margin-left: 8px;
      }
    }

    & h3 {
      font-weight: 400;
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 8px;
    }

    & p {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__actions {
    width: 100%;
    z-index: 95;
  }
}
</style>
