<template lang="pug">
  input.input(:value="value" type="text" @input="$emit('input', $event.target.value)" @keyup.enter="$emit('enter')")
</template>

<script>
export default {
  props: { value: { type: String } }
};
</script>

<style lang="scss">
.input {
  height: 64px;
  width: 100%;
  outline: none;
  padding: 0 32px;
  font-size: 24px;
  border: none;
  background: #fff;
  border-radius: 2px;
}
</style>
