<template lang="pug">
  a.logo(href="/")
    img.logo__image(src="../assets/logo.svg" alt="VKGRAPH")
    h1.logo__title VKGRAPH #[sup βeta]
    p.logo__description Визуализация друзей «ВКонтакте»
</template>

<style lang="scss" scoped>
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__image {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }

  &__title {
    font-size: 16px;
    color: #fafafa;

    & sup {
      font-size: 10px;
      font-weight: 400;
    }

    &:after {
      content: "/";
      font-size: 14px;
      color: rgba(255, 255, 255, 0.4);
      margin: 0 16px;
    }
  }

  &__description {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
  }
}
</style>
