<template lang="pug">
  .profile
    .profile__navigation
      span.back(@click="$emit('back')")
      h5 Профиль
      span.zoom(@click="$emit('zoom', user.id)")

    img.profile__avatar(:src="user.photo_max")
    h3.profile__name {{ user.first_name }} {{ user.last_name }}

    a.profile__link(:href="'https://vk.com/' + user.domain" target="_blank") https://vk.com/{{ user.domain }}

    //- Load user's friends and call event for reload graph data
    v-button(v-if="user.loaded" types="small loaded" disabled) Друзья уже загружены #[b Друзей: {{ user.countFriends }}]
    v-button(v-else-if="user.is_closed" types="small locked" disabled) Закрытый профиль
    v-button(v-else-if="user.deactivated" types="small deactivated" disabled) Пользователь удален или заблокирован
    v-button(v-else @click="$emit('load', user.id)" types="small") Загрузить друзей

    v-profile-info(:info="relation" title="Семейное положение")
    v-profile-info(:info="user.city.title" title="Город" v-if="user.city")
    v-profile-info(:info="user.university_name" title="Университет")
    v-profile-info(:info="user.faculty_name" title="Факультет")
    v-profile-info(:info="user.interests" title="Интересы")
    v-profile-info(:info="user.about" title="Обо мне")
</template>

<script>
import VButton from "./VButton";
import VProfileInfo from "./VProfileInfo";

export default {
  components: { VButton, VProfileInfo },
  props: {
    user: { type: Object, required: true }
  },

  data() {
    return {
      relations: [
        "Не указано",
        "Не женат/не замужем",
        "Есть друг/есть подруга",
        "Помолвлен/помолвлена",
        "Женат/замужем",
        "Всё сложно",
        "В активном поиске",
        "Влюблён/влюблена",
        "В гражданском браке"
      ]
    };
  },

  computed: {
    relation() {
      return this.user.relation
        ? this.relations[this.user.relation]
        : this.relations[0];
    }
  }
};
</script>

<style lang="scss" scoped>
.profile {
  display: block;
  background: #ffffff;
  padding: 24px;
  box-shadow: 0 2px 16px rgba(36, 36, 36, 0.16);
  margin-top: 16px;
  border-radius: 2px;
  overflow-y: auto;
  max-height: calc(100vh - 196px);

  &__load {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 2px;
    outline: none;
    color: #ffffff;
    border: 0;
    background: #4c75a3;
    transition: 0.16s all ease;

    &:hover {
      background: lighten(#4c75a3, 3%);
    }

    &:active {
      background: darken(#4c75a3, 3%);
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    position: relative;
    padding-bottom: 8px;

    & h5 {
      flex: 1;
      display: flex;
      height: 24px;
      font-weight: 400;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }

    & span {
      position: relative;
      z-index: 5;
      width: 24px;
      height: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 2px;
      transition: background 0.16s ease;

      &:hover {
        background: transparentize(#4c75a3, 0.8);
      }

      &.zoom {
        &:before,
        &:after {
          content: "";
          display: block;
          border-radius: 50%;
        }

        &:before {
          height: 8px;
          width: 8px;
          border: 2px solid #2b425c;
        }

        &:after {
          position: absolute;
          width: 4px;
          height: 4px;
          background: #2b425c;
        }
      }

      &.back {
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          width: 8px;
          background: #2b425c;
        }

        &:before {
          transform: rotate(-45deg) translateY(1px);
          transform-origin: left bottom;
        }

        &:after {
          transform: rotate(45deg) translateY(-1px);
          transform-origin: left top;
        }
      }
    }
  }

  &__avatar {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 24px;
  }

  &__name {
    font-size: 24px;
    display: block;
    font-weight: 400;
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    color: #363636;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 0 16px 0;

    &:after {
      content: "";
      display: inline-block;
      height: 1px;
      margin-top: 1px;
      width: 100%;
      transform: scaleX(0);
      background: #969696;
      transition: 0.16s transform ease;
    }

    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
</style>
