<template lang="pug">
  .profile__info(v-if="info")
    span {{ title }}
    p {{ info }}
</template>

<script>
export default {
  props: {
    title: { type: String, required: true },
    info: { type: String }
  }
};
</script>

<style lang="scss" scoped>
.profile__info {
  display: block;

  & span {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    margin: 16px 0 4px 0;
    color: #727272;
  }

  & p {
    font-size: 14px;
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: 8px;
    white-space: normal;
  }
}
</style>
