<template lang="pug">
  .result(v-show="data.length && !userId")
    .result__person(
      @click="$emit('select', user)"
      v-for="user in data"
      :key="user.id"
    ) {{ user.label }}
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    data: { type: Array, required: true },
    userId: { required: true }
  },

  computed: { ...mapState(["currentUser"]) }
};
</script>

<style lang="scss" scoped>
.result {
  margin-top: 16px;
  position: relative;
  z-index: 99;
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  background: #ffffff;
  border-radius: 2px;
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  box-shadow: 0 2px 16px rgba(36, 36, 36, 0.16);

  &__person {
    color: #2b425c;
    display: flex;
    align-items: center;
    padding: 0 32px;
    min-height: 40px;
    font-size: 14px;
    border-top: 1px solid rgba(36, 36, 36, 0.1);
    transition: 0.16s all ease;

    &:last-child {
      border-bottom: 1px solid rgba(36, 36, 36, 0.1);
    }

    &:hover {
      background-color: #4c75a3;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
</style>
