<template lang="pug">
  .search
    input.search__field(
      type="text"
      :value="value"
      @input="$emit('input', $event.target.value)"
      placeholder="Кого ищем?"
    )
    span.search__icon
</template>

<script>
export default {
  props: {
    value: { type: String }
  }
};
</script>

<style lang="scss" scoped>
.search {
  margin-top: 24px;
  display: flex;
  position: relative;
  z-index: 95;
  box-shadow: 0 2px 16px rgba(36, 36, 36, 0.16);

  &__field {
    width: 100%;
    outline: none;
    position: relative;
    border: none;
    border-radius: 2px;
    background: #ffffff;
    height: 40px;
    color: #2b425c;
    font-size: 16px;
    padding: 0 48px 0 24px;
  }

  &__icon {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 16px;
    height: 16px;
    background: url("../assets/search.svg");
    background-size: contain;
    opacity: 0.5;
  }
}
</style>
