<template lang="pug">
  #app
    v-background
    v-alert(ref="alert")
    v-navigation
    v-container: v-finder
    #network
    v-about
</template>

<script>
import VAbout from "./components/VAbout";
import VAlert from "./components/VAlert";
import VBackground from "./components/VBackground";
import VContainer from "./components/VContainer";

import VFinder from "./containers/VFinder";
import VNavigation from "./containers/VNavigation";

export default {
  name: "VkGraph",

  components: {
    VAbout,
    VAlert,
    VBackground,
    VContainer,
    VFinder,
    VNavigation
  },

  mounted() {
    document.addEventListener("onNodeClick", e =>
      this.$store.dispatch("selectUser", e.detail)
    );
  }
};
</script>
